body {
    background-color: blue;
    margin: 0;
    color: white;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    grid-template-rows: auto;
}

header {
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: black;
}

header>h1 {
    display: flex;
    color: white;
    justify-content: center;
    margin: 0;
    font-size: 20px;
}

main>h2 {
    color: white;
    text-align: center;
}

input {
    text-align: center;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 4px;
}

div {
    display: grid;
    font-size: 12px;
    flex-flow: wrap row;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: repat(3, 1fr);
    grid-template-rows: auto;
}

p+p {
    text-transform: uppercase;
}