body {
    background-color: hsl (0, 0%, 0);
    /*background-image: url(https://wallpaperaccess.com/full/369002.jpg);
    background-size: 100%;*/
    display: grid;
    margin: 0;
}

header {
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: black;
    margin-bottom: 10 px;
    padding: 0;
}

header>h1 {
    display: flex;
    color: white;
    justify-content: center;
    margin: 0;
    font-size: 20px;
}

input {
    text-align: center;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: 0;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
}

h2 {
    color: black;
    justify-content: center;
    text-align: center;
}

form {
    text-align: center;
}