@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
body {
    background-color: black;
    margin: 0;
    color: white;
    display: grid;
    font-family: Anton;
}

header {
    flex-direction: row-reverse;
    justify-content: flex-start;
    background-color: black;
    margin-top: 30px;
    color: yellow;
    margin-bottom: 30px;
}

header>h1 {
    display: flex;
    color: white;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
    color: yellow;
}

main>h2 {
    color: white;
    text-align: center;
}

form {
    text-align: center;
}