@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');
body {
    background-color: black;
    margin: 0;
    color: white;
    display: grid;
    font-family: Anton;
}

header {
    flex-direction: row-reverse;
    justify-content: center;
    background-color: black;
    margin-top: 30px;
    color: yellow;
    margin-bottom: 30px;
}

header>h1 {
    display: flex;
    color: white;
    justify-content: center;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
    color: yellow;
}

main {
    display: flex;
    flex-direction: column;
}

h2 {
    color: white;
    justify-content: center;
}

form {
    justify-content: center;
}

ul li:last-child {
    font-family: 'Rubik Wet Paint', cursive;
}

h2 {
    justify-content: center;
}

nav>ul>li>a {
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    color: yellow;
}

ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin: 4px;
}